.media-attachment
{
  border: 1px solid #dee2e6;
  box-sizing: border-box;
}
.media-attachment-list
{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.media-attachment-item
{
  display: block;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 2px;
  border-radius: 3px;
  width: 130px;
  height: 130px;
  margin: 4px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.media-attachment-item:hover
{
  border: 3px solid #25b9d7;
  padding: 0;
}

.media-attachment-item-img
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 0;
  line-height: 130px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.media-attachment-item-add
{
  text-align: center;
  color: #bbcdd2;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.media-attachment-item-add div
{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #bbcdd2;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.media-attachment-item-add div span {
  text-align: center;
  display: inline-block;
  line-height: 40px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
}

.media-attachment-item-del
{
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  color: #bbcdd2;
}

.media-attachment-item-del span:hover {
  color: #c9302c;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px 0px;
}

.media-attachment-item-cover
{
  position: absolute;
  left: 4px;
  top: 4px;
  cursor: pointer;
  color: #bbcdd2;
}

.media-attachment-item-cover.selected
{
    color: #1DC116;
}

.media-attachment-item-cover span:hover {
  color: #00a65a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px 0px;
}