/**
 *
 * STILI LOGIN - INIZIO
 * Assegno gli stili per la pagina di login 
 * 
 **/

.login-page {
	.login-box {
		text-align: center;
		border-radius: .15rem;
		padding: 5rem 4rem;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc4499+44,68398d+100 */
		background: #cc4499; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #cc4499 44%, #68398d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #cc4499 44%,#68398d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #cc4499 44%,#68398d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4499', endColorstr='#68398d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
		-webkit-box-shadow: 5px 5px 15px 0px rgba($stdc, .35);
		-moz-box-shadow: 5px 5px 15px 0px rgba($stdc, .35);
		box-shadow: 5px 5px 15px 0px rgba($stdc, .35);
		
		.login-logo {
			text-align: center;
			margin-bottom: 3rem;
		}
		.login-label {
			font-weight: 400;
			font-size: .875rem;
			color: rgba($istdc, .75);
			margin: 0;
		}
		.form-group {
			margin-bottom: 1.5rem;
			&:last-child {margin-bottom: 0;}
		}
		.form-control {
			font-size: 1.5rem;
			text-align: center;
			color: $istdc;
			line-height: 1;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $istdc;
			border-radius: 0;
			padding: .5rem 0;
			
		}
		.btn-primary {
			display: inline-block;
			font-weight: 600;
			font-size: 1.25rem;
			color: $pmyc;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: 2px;
			background-color: $istdc;
			margin-top: 2rem;
			border-radius: 1.5rem;
			border-color: transparent;
			padding: .75rem 3rem;
			@include transition("transform", ".3s", "ease");
			&:hover,
			&:focus,
			&:active {
				color: $pmyc;
				background-color: $istdc;
				-moz-transform: scale(1.05);
				-webkit-transform: scale(1.05);
				-o-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				@include transition("transform", ".3s", "ease");
			}
		}
	}
	.modal {
		.modal-content {
			text-align: center;
			border-color: transparent;
			border-bottom: 5px solid $venetianred;
			border-radius: .2rem;
			.bootbox-body {
				.icon {
					font-size: 4rem;
					text-align: center;
					color: $venetianred;
				}
				.message {
					font-size: 1.5rem;
					text-align: center;
				}
			}
		}
		.modal-footer {
			border: none;
			.btn-primary {
				background-color: $stdc;
				line-height: 1;
				margin: auto;
				border-color: transparent;
				border-radius: 1.5rem;
				padding: .75rem 2rem;
				&:hover,
				&:focus,
				&:active {
					background-color: $pmyc;
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}


/**
 *
 * STILI LOGIN - FINE
 * 
 **/