@mixin makeTransition($target, $duration, $effect) {
	-webkit-transition: #{$target} #{$duration} #{$effect};
	-moz-transition: #{$target} #{$duration} #{$effect};
	-ms-transition: #{$target} #{$duration} #{$effect};
	-o-transition: #{$target} #{$duration} #{$effect};
	transition: #{$target} #{$duration} #{$effect};
}

@mixin media-breakpoint-up($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (min-width: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin media-breakpoint-down($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (max-width: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin media-breakpoint-between($bp-min, $bp-max) {
	// If the key exists in the map
	@if $bp-min != null and $bp-max != null {
		// Prints a media query based on the value
		@media (min-width: $bp-min + "px") and (max-width: $bp-max + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
	/*animation-name: titleOpacity;
	animation-duration: 2s;
	animation-delay: .5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: alternate;*/
}

@mixin translatey-middle($position: absolute) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin translatex-center($position: absolute) {
	position: $position;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin transform($property: translateX, $n: 0) {
	-webkit-transform: $property + "(" + $n + ")";
	-moz-transform: $property + "(" + $n + ")";
	-ms-transform: $property + "(" + $n + ")";
	transform: $property + "(" + $n + ")";
}


@mixin transition($target, $duration, $effect) {
	-webkit-transition: #{$target} #{$duration} #{$effect};
	-moz-transition: #{$target} #{$duration} #{$effect};
	-ms-transition: #{$target} #{$duration} #{$effect};
	-o-transition: #{$target} #{$duration} #{$effect};
	transition: #{$target} #{$duration} #{$effect};
}