/**
 *
 * IMPOSTAZIONI FONT - INIZIO
 * Assegnazione dei valori css della famiglia di font
 * Disposizone: dal più fine al più spesso
 * 
 **/

// Proprietà: thin, 100, normal
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-hairline.eot");
	src: url("../fonts/lato/lato-hairline.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-hairline.woff2") format("woff2"),
		url("../fonts/lato/lato-hairline.woff") format("woff"),
		url("../fonts/lato/lato-hairline.ttf") format("truetype"),
		url("../fonts/lato/lato-hairline.svg#latohairline") format("svg");
	font-weight: 100;
	font-style: normal;

}

// Proprietà: thin, 100, italic
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-hairlineitalic.eot");
	src: url("../fonts/lato/lato-hairlineitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-hairlineitalic.woff2") format("woff2"),
		url("../fonts/lato/lato-hairlineitalic.woff") format("woff"),
		url("../fonts/lato/lato-hairlineitalic.ttf") format("truetype"),
		url("../fonts/lato/lato-hairlineitalic.svg#latohairline_italic") format("svg");
	font-weight: 100;
	font-style: italic;
}

// Proprietà: light, 300, normal
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-light.eot");
	src: url("../fonts/lato/lato-light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-light.woff2") format("woff2"),
		url("../fonts/lato/lato-light.woff") format("woff"),
		url("../fonts/lato/lato-light.ttf") format("truetype"),
		url("../fonts/lato/lato-light.svg#latolight") format("svg");
	font-weight: 300;
	font-style: normal;
}

// Proprietà: light, 300, italic
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-lightitalic.eot");
	src: url("../fonts/lato/lato-lightitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-lightitalic.woff2") format("woff2"),
		url("../fonts/lato/lato-lightitalic.woff") format("woff"),
		url("../fonts/lato/lato-lightitalic.ttf") format("truetype"),
		url("../fonts/lato/lato-lightitalic.svg#latolight_italic") format("svg");
	font-weight: 300;
	font-style: italic;
}


// Proprietà: regular, 400, normal
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-regular.eot");
	src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-regular.woff2") format("woff2"),
		url("../fonts/lato/lato-regular.woff") format("woff"),
		url("../fonts/lato/lato-regular.ttf") format("truetype"),
		url("../fonts/lato/lato-regular.svg#latoregular") format("svg");
	font-weight: 400;
	font-style: normal;
}


// Proprietà: regular, 400, italic
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-italic.eot");
	src: url("../fonts/lato/lato-italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-italic.woff2") format("woff2"),
		url("../fonts/lato/lato-italic.woff") format("woff"),
		url("../fonts/lato/lato-italic.ttf") format("truetype"),
		url("../fonts/lato/lato-italic.svg#latoitalic") format("svg");
	font-weight: 400;
	font-style: italic;
}

// Proprietà: bold, 700, normal
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-bold.eot");
	src: url("../fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-bold.woff2") format("woff2"),
		url("../fonts/lato/lato-bold.woff") format("woff"),
		url("../fonts/lato/lato-bold.ttf") format("truetype"),
		url("../fonts/lato/lato-bold.svg#latobold") format("svg");
	font-weight: 700;
	font-style: normal;
}

// Proprietà: bold, 700, italic
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-bolditalic.eot");
	src: url("../fonts/lato/lato-bolditalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-bolditalic.woff2") format("woff2"),
		url("../fonts/lato/lato-bolditalic.woff") format("woff"),
		url("../fonts/lato/lato-bolditalic.ttf") format("truetype"),
		url("../fonts/lato/lato-bolditalic.svg#latobold_italic") format("svg");
	font-weight: 700;
	font-style: italic;
}

// Proprietà: extrabold, 900, normal
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-black.eot");
	src: url("../fonts/lato/lato-black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-black.woff2") format("woff2"),
		url("../fonts/lato/lato-black.woff") format("woff"),
		url("../fonts/lato/lato-black.ttf") format("truetype"),
		url("../fonts/lato/lato-black.svg#latoblack") format("svg");
	font-weight: 900;
	font-style: normal;
}

// Proprietà: extrabold, 900, italic
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/lato-blackitalic.eot");
	src: url("../fonts/lato/lato-blackitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato/lato-blackitalic.woff2") format("woff2"),
		url("../fonts/lato/lato-blackitalic.woff") format("woff"),
		url("../fonts/lato/lato-blackitalic.ttf") format("truetype"),
		url("../fonts/lato/lato-blackitalic.svg#latoblack_italic") format("svg");
	font-weight: 900;
	font-style: italic;
}

/**
 *
 * IMPOSTAZIONI FONT - FINE
 * 
 **/





