/**
 *
 * STILI FORM - INIZIO
 * Assegno gli stili agli elementi della sidebar
 * 
 **/

// PULSANTE - INIZIO
// Override degli stili del pulsante base di Bootstrap 4

.btn {
	//height: 2.2rem;
	//text-transform: uppercase;
	line-height: 1;
	border-radius: .1rem;
	padding: .6rem 1rem;
}

// PULSANTE - FINE

// PULSANTE DEFAULT - INIZIO
// Override degli stili del pulsante di default di Bootstrap 4

.btn-default {
	background-color: $infc;
	border: 1px solid transparent;
	&:hover,
	&:focus,
	&:active {
		color: $istdc;
		background-color: darken($infc, 50%);
		border-color: transparent;
	}
}

// PULSANTE DEFAULT - FINE

// PULSANTE SECONDARIO - INIZIO
// Override degli stili del pulsante secondario di Bootstrap 4

.btn-secondary {
	border-color: transparent;
	background-color: $sdyc;
	&:hover,
	&:focus,
	&:active {
		background-color: $pmyc;
		border-color: transparent;
	}
}

.show > .btn-secondary.dropdown-toggle {
    border-color: transparent;
		background-color: $pmyc;
}

// PULSANTE SECONDARIO - FINE


// PULSANTE SUCCESSO - INIZIO
// Override degli stili del pulsante per status positivi di Bootstrap 4

.btn-success {
	border-color: transparent;
	background-color: $scsc;
	&:hover,
	&:focus,
	&:active {border-color: transparent;}
}

// PULSANTE SUCCESSO - FINE


// PULSANTE CIRCOLARE - INIZIO
// Stili per rendere il pulsante a forma di cerchio

.btn-circle {
	height: 35px;
	width: 35px;
	padding: 0;
	border-radius: 50%;
	&:after {
		content: "";
		display: none;
		visibility: hidden;
	}
}

// PULSANTE CIRCOLARE - FINE

// MENU A TENDINA - INIZIO
// Override degli stili del dropdown di Bootstrap 4

.dropdown-toggle {
	&:after {
		content: "";
		display: none;
		visibility: hidden;
	}
}

.dropdown-menu-right {
	margin-top: 1.2rem;
	background-color: $infc;
	border-color: $infc;
	border-radius: .05rem;
	&:before {
		content: "";
		position: absolute;
		top: -.75rem;
		right: .4rem;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 .8rem .8rem .8rem;
		border-color: transparent transparent $infc;
		border-radius: .05rem;
	}
	.dropdown-item {
		> a {color: $stdc;}
		&:hover,
		&:focus,
		&:active {
			color: $pmyc;
			background-color: transparent;
			> a {color: $pmyc;}
		}
	}
}

// MENU A TENDINA MENU - FINE


// BRICIOLE DI PANE - INIZIO
// Override degli stili del breadcrumb di Bootstrap 4

.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 0;
	.breadcrumb-item {
		color: $pmyc;
		&:last-child {
			width: 100%;
			font-size: 1.25rem;
			text-transform: uppercase;
			padding: 0;
			&::before {
				content: "";
				display: none;
			}
		}
		&.active {
			color: $sdyc;
			a {color: $sdyc;}
		}
		a {color: $pmyc;}
	}
}

// BRICIOLE DI PANE - FINE

// INPUT FIELDS - INIZIO
// Override degli stili dei vari input fields di Bootstrap 4

.form-control,
.custom-select {
	border-color: $sdyc;
	border-radius: .1rem;
	&:focus {
		border-color: $pmyc;
		box-shadow: 0 0 0 .1rem rgba($pmyc,.25);
	}
}

.input-group {
	.form-control {border-radius: .1rem;}
	.btn {border-color: $sdyc;}
}

// INPUT FIELDS - FINE


// TABS - INIZIO
// Override degli stili dei tabs di Bootstrap 4

.nav-tabs {
	border-bottom: none;
	> .nav-item {
		> .nav-link {
			position: relative;
			font-weight: 400;
			font-size: 1rem;
			letter-spacing: .1rem;
			color: $sdyc;
			border: none;
			border-bottom: 1px solid $sdyc;
			//text-transform: uppercase;
			@include transition("all", ".3s", "ease");
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -.15rem;
				right: 0;
				display: block;
				width: 100px;
				height: .3rem;
				margin: auto;
				background-color: transparent;
				@include transition("background-color", ".3s", "ease");
			}
			&:hover,
			&:active,
			&:focus,
			&.active {
				color: $pmyc;
				@include transition("all", ".3s", "ease");
				&::after {
					background-color: $pmyc;
					@include transition("background-color", ".3s", "ease");
				}
			}
		}
	}
}

.nav-tabs-custom {
	.tab-content {padding-top: 3rem;}
}


// TABS - FINE

// FORM GROUP - INIZIO
// Override degli stili dei form-group di Bootstrap 4

.form-group-custom {
	margin-bottom: 1rem;
	padding-bottom: 0;
	label,
	.form-group-title {
		vertical-align: middle;
		font-weight: 400;
		color: $sdyc;
		letter-spacing: .1rem;
		//text-transform: uppercase;
		margin-bottom: 0;
	}
	.form-group-title {
		margin-bottom: .5rem;
		> .translatable-field {
			display: inline-block;
			vertical-align: middle;
			font-weight: 400;
			color: $nero;
            letter-spacing: .1rem;
			//text-transform: uppercase;
			margin-bottom: 0;
		}
		
	}
	.icheckbox_square {
		margin-right: .5rem;
		vertical-align: middle;
	}
}

// FORM GROUP - FINE


// ACCORDION - INIZIO
// Override degli stili degli accordion di Bootstrap 4

.custom-accordion {
	border: none;
	border-radius: 0;
	margin-bottom: 1.5rem;
	box-shadow: none;
	.card-header {
		color: $sdyc;
		background-color: transparent;
		border: none;
		border-radius: 0;
		padding: 0;
		.btn-link {
			position: relative;
			display: block;
			height: auto;
			font-weight: 400;
			color: $pmyc;
			text-align: left;
			//text-transform: uppercase;
			text-decoration: none;
			line-height: 1.5;
			letter-spacing: .1rem;
			border-bottom: 1px solid $sdyc;
			border-radius: 0;
			padding: .375rem 0;
			&:before {
				content: "";
				position: absolute;
				top: auto;
				right: 0;
				bottom: -1px;
				left: 0;
				z-index: 10;
				display: block;
				width: 100%;
				height: 1px;
				background-color: $pmyc;
				@include transition("width", ".3s", "ease");
			}
			&.collapsed {
				color: $sdyc;
				&:before {
					width: 0;
					@include transition("width", ".3s", "ease");
				}
				&:hover,
				&:active,
				&:focus {
					color: $pmyc;
					&:before {
						width: 100%;
						@include transition("width", ".3s", "ease");
					}
				}
				.accordion-arrow {
					@include transform(rotate, -90deg);
					@include transition("transform", ".3s", "ease");
				}
			}
			.accordion-arrow {
				margin-left: .5rem;
				@include transform(rotate, 0);
				@include transition("transform", ".3s", "ease");
			}
		}
	}
	.card-body {
		padding: 2rem 1rem;
	}
}

// ACCORDION - FINE


// SELECT2 - INIZIO
// Override stili Select2

.select2-container--bootstrap4 {
	
	.select2-selection--multiple {
		border-color: $sdyc;
		border-radius: .1rem;
		&:focus {
			border-color: $pmyc;
			box-shadow: 0 0 0 .1rem rgba($pmyc,.25);
		}
	}
	&.select2-container--focus .select2-selection,
	&.select2-container--open .select2-selection {
		border-color: $pmyc;
		box-shadow: 0 0 0 .1rem rgba($pmyc,.25);
	}
	
	.select2-dropdown {
		border-color: $pmyc;
		border-radius: 0;
		border-bottom-right-radius: .1rem;
		border-bottom-left-radius: .1rem;
		.select2-results {
			.select2-results__options {
				.select2-results__option {
					line-height: 1;
					border-radius: 0;
					&.select2-results__option--highlighted[aria-selected]{
						background-color: $pmyc;
						border-radius: .1rem;
					}
				}
			}
		}
	}
}


.select2-container--default {
    .select2-selection--single {
        border-color: $sdyc;
        border-radius: .1rem;
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        line-height: 1.5;
        vertical-align: middle;
        &:focus {
            border-color: $pmyc;
            box-shadow: 0 0 0 .1rem rgba($pmyc,.25);
        }
        .select2-selection__arrow {
            height: 38px;
        }
    } 
}

// SELECT2 - FINE


// TOGGLE - INIZIO
// Modifica a checkbox standard per renderlo un toggle

.toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: .5rem;
	input {
		display:none;
		&:checked + .slider {
			background-color: $scsc;
			
		}
		&:focus + .slider {box-shadow: 0 0 1px $scsc;}
		&:checked + .slider:before {
			border-color: $scsc;
			@include transform(translateX, 1rem);
		}
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $sdyc;
		border-radius: .5rem;
		@include transition("all", ".3s", "ease");
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 1rem;
			height: 1rem;
			background-color: $istdc;
			margin: auto;
			border: 1px solid $sdyc;
			border-radius: 50%;
			@include transition("all", ".3s", "ease");		
		}
	}
}

// TOGGLE - FINE



.dataTables_wrapper {
	
	//border: 1px solid $infc;
	//border-radius: .1rem;
	.row:first-child {
		margin: 0;
		> div {
			padding: 0;
			
			&:first-child {
				.form-control,
				.custom-select {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			&:last-child {
				.form-control,
				.custom-select {
					border-left: none;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			
			label {
				display: block;
				margin: 0;
				border-radius: .1rem;
				.fitler-title {
					display: block;
					font-weight: bold;
					font-size: $font-size;
					text-align: center;
					margin-bottom: .5rem;
				}
				.form-control,
				.custom-select {
					width: 100% !important;
					
					font-size: 1rem !important;
					margin: 0 !important;
					padding: .375rem .75rem !important;
				}
				select.form-control:not([size]):not([multiple]) {height: calc(2.25rem + 2px) !important;}
			}
		}
		
	}
}





/**
 *
 * STILI FORM - FINE
 * 
 **/

/*
.treeview {margin: .625rem 0 0 1.25rem;}
ul{list-style: none;}

.treeview li {
  content: "\f00c";
  padding: 2px 0 2px 16px;
}

.treeview > li:first-child > label {

  
}

.treeview li.last {
  background-position: 0 -1766px;
}

.treeview li > input {
  height: 16px;
  width: 16px;
  opacity: 0;
  filter: alpha(opacity=0); 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}

.treeview li > label {

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            font-weight: 300;
            margin: 0;
            border: 2px solid $venetianred;
            border-radius: 0;
            cursor: pointer;
        }
        &::after {
            content: "\f00c";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            font-family:'FontAwesome' !important;
            font-size: 20px;
            line-height: 15px;
            color: $venetianred;
            opacity: 0;
        }
		
}



.treeview .custom-unchecked {
  background-position: 0 -1px;
}
.treeview .custom-unchecked:hover {
  background-position: 0 -21px;
}



.treeview .custom-checked { 
  background-position: 0 -81px;
}
.treeview .custom-checked:hover { 
  background-position: 0 -101px; 
}



.treeview .custom-indeterminate { 
  background-position: 0 -141px; 
}
.treeview .custom-indeterminate:hover { 
  background-position: 0 -121px; 
}
*/