.admin-main {
	position: relative;
	padding: 1rem 2rem;
	padding-bottom: 0;
	overflow-y: scroll;
	.admin-main-content {
		.box-header {
			margin: 4rem -2rem;
			margin-top: 0;
			padding: 1rem 2rem;
			background-color: $istdc;
			@include transition("all", ".3s", "ease");
			&.fixed {
				position: fixed;
				top: 0;
				right: 2rem;
				z-index: 100;
				-moz-box-shadow: 0 4px 2px -2px $sdyc;
				-webkit-box-shadow: 0 4px 2px -2px $sdyc;
				box-shadow: 0 4px 2px -2px $sdyc;
				@include transition("all", ".3s", "ease");
			}
		}
		
	}
}

.content-header-title {
	margin-bottom: 0;
	> span {
		&:first-child {
			//text-transform: uppercase;
			margin-right: .5rem;
		}
		&:last-child {
			font-size: 2rem;
			font-style: italic;
			color: $pmyc;
		}
	}
}
