/**
 *
 * STILI SIDEBAR - INIZIO
 * Assegno gli stili agli elementi della sidebar
 * 
 **/

.sidebar {
	position: relative;
	.logo-icon {
		display: inline-block;
		width: 80px;
		height: 50px;
		background-image: url(../img/eos-logo-min.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.sidebar-menu {
		height: 100%;
		letter-spacing: 0;
		.nav-pills {
            -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important;
            overflow-y: scroll;
			.nav-link {
				position: relative;
				color: $stdc;
				text-align: center;
				border-radius: 0;
				padding: 1rem .5rem;
				&:first-child {
					&:hover,
					&:focus,
					&:active,
					&.active {
						color: $pmyc;
						background-color: transparent;
						&:before {
							opacity: 0;
							visibility: hidden;
						}
					}
				}
				&:before {
					content: "";
					position: absolute;
					top: 0px;
					left: 0;
					bottom: 0px;
					display: block;
					width: .3rem;
					background-color: $pmyc;
					opacity: 0;
					visibility: hidden;
					@include transition("opacity", ".3s", "ease");
				}
				&:hover,
				&:focus,
				&:active,
				&.active {
					color: $pmyc;
					background-color: transparent;
					&:before {
						opacity: 1;
						visibility: visible;
						@include transition("opacity", ".3s", "ease");
					}
				}
				> i {
					display: block;
					font-size: 1.5rem;
					margin-bottom: .5rem;
				}
				> span {
					display: block;
				}
			}
		}
		.tab-content {
			height: 100%;
			background-color: $infc;
			.tab-pane {
				height: 100%;
				border-right: 1px solid $sdyc;
				border-left: 1px solid $sdyc;
				padding-left: 2rem;
				padding-right: 2rem;
				@include media-breakpoint-up(1200) {width: 230px;}
				.tab-pane-title {
					display: block;
					color: $sdyc;
					text-transform: uppercase;
					letter-spacing: .05rem;
					padding: 2rem 0;
				}
				> a {
					display: block;
					letter-spacing: .05rem;
					color: $stdc;
					padding: .5rem 0;
					&:hover,
					&:focus,
					&:active,
					&.active {color: $pmyc;}
				}
			}
		}
		
	}
}

/**
 *
 * STILI SIDEBAR - FINE
 * 
 **/