/**
 *
 * DICHIARAZIONE VARIABILI COLORI - INIZIO
 * Assegnazione dei colori del tema
 * 
 * $stdc: Standard color - Colore standard
 * $istdc: Inverted standard color - Colore standard speculare
 * $pmyc: Primary color - Colore primario
 * $sdyc: Secondary color - Colore secondario
 * $infc: Info color - Colore info
 * $scsc: Success color - Colore per status positivi
 * $wrnc: Warning color - Colore per warning e status incompleti/con errori non gravi
 * $errc: Error color - Colore per errori e status con errori gravi
 * 
 **/

// Assegno i colori  in base al loro "vero" nome 
// (nome generato dal sito http://www.htmlcsscolor.com/)
$mulberry: #cc4499;
$eucalyptus: #27ae60;
$moonyellow: #f1c40f;
$venetianred: #e30613;
$nero: #222;
$white: #fff;

// Riassegno i colori alle variabili di default
// Per cambiare i colori nel tema sarà sufficiente assegnare altri colori alle variabili
$stdc: $nero;
$istdc: $white;
$pmyc: $mulberry;
$sdyc: lighten($stdc, 60%);
$infc: darken($istdc, 3%);
$scsc: $eucalyptus;
$wrnc: $moonyellow;
$errc: $venetianred;

/**
 * DICHIARAZIONE VARIABILI COLORI - FINE
 **/

/**
 *
 * DICHIARAZIONE VARIABILI FONT - INIZIO
 * Assegnazione delle preprietà del font del tema
 * 
 * $font-family: Font utilizzato dal tema
 * $font-weight: Spessore del font
 * $font-size: Grandezza del font
 * $font-color: Colore del font
 * $letter-spacing: Spazio tra le lettere
 * 
 **/

$font-family: "Lato", Helvetica, Arial, sans-serif; // Scaricato da Google Font e convertito su Font Squirrel
$font-weight: 400; // Di base è sempre 400 (ovvero "normal")
$font-size: .875rem; // Cambia in base alle impostazioni del browser, di default 1rem corrisponde a 16px
$font-color: $stdc;
$letter-spacing: 0;

/**
 * DICHIARAZIONE VARIABILI FONT - FINE
 **/
